<% @instrument_groups = {}
    MemberCommunityNight.where(community_night_id: params[:id]).each do |mcn|
      if mcn.member_instrument.present?
        instrument = mcn.member_instrument.instrument
      else
        instrument = "None"
      end
      @instrument_groups[instrument] ||= []
      @instrument_groups[instrument] << mcn
    end

    @instrument_groups = @instrument_groups.sort_by { |e, v| Instruments.instruments.index(e) || Instruments.instruments.length }.to_h %>
<div class='pageHeader'><h2>Roster for <%= @community_night.name %></h2></div>

<br>

<b><%= @instrument_groups.values.flatten.count %> Members Shown</b>

<% @instrument_groups.keys.each do |k, i| %>
  <% j = 0 %>
  <h4><%= k.capitalize.pluralize %> (<%= (@instrument_groups[k].count) %>)</h4>
  <% @instrument_groups[k].each do |ms| %>
    <% if ms %>
      <%= link_to ms.member, ms.member %>  <br>
    <% end %>
  <% end %>
<% end %>
