<%= form_for(setup_performance_set(performance_set)) do |f| %>
  <% if performance_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performance_set.errors.count, "error") %> prohibited this performance_set from being saved:</h2>

      <ul>
      <% performance_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ensemble_id %>
    <%= f.collection_select :ensemble_id, @ensembles, :id, :name, { prompt: true } %>
    <%= link_to "(Need to create new ensemble?)", new_ensemble_path %>
  </div>

  <div class="field">
    <%= f.label :name, "Name of Set (Must contain a year to disambiguate from other sets)" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_date, "Set Start Date  (Format: YYYY-MM-DD)" %>
    <%= date_field :performance_set, :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date, "Set End Date  (Format: YYYY-MM-DD)" %>
    <%= date_field :performance_set, :end_date %>
  </div>

  <div class="field">
    <%= f.label :opt_in_start_date, "Opt-In Start Date  (Format: YYYY-MM-DD)" %>
    <%= date_field :performance_set, :opt_in_start_date %>
  </div>

  <div class="field">
    <%= f.label :opt_in_end_date, "Opt-In End Date  (Format: YYYY-MM-DD)" %>
    <%= date_field :performance_set, :opt_in_end_date %>
  </div>

  <div class="field">
    <%= f.label :description, "Set Short Description (used in title)" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :opt_in_message, "Opt-in message to display on website" %>
    <%= f.text_area :opt_in_message, cols: 50, rows: 5 %>
  </div>

  <h3 class="formHeader">Rehearsal Dates</h3>
  <div class="field memberInfoBlock">
    <% if @performance_set.new_record? %>
      Use Date Picker or format YYYY-MM-DD.
      <% i = 0 %>
      <%= f.fields_for :performance_set_dates do |psd_f| %>
        <div class="field">
          <%= date_field "performance_set[performance_set_dates_attributes][#{i}]", :date %>
        </div>
        <% i += 1%>
      <% end %>
    <% else %>
      <% if @performance_set.performance_set_dates.present? %>
        <i>Click on a date to edit or delete it.</i>
        <br />
        <% @performance_set.performance_set_dates.each do |psd| %>
          <%= link_to psd.date, edit_performance_set_date_path(psd) %>
        <% end %>
        <br /><br />
      <% end %>
      <i><%= link_to "Add new rehearsal date", new_performance_set_date_path %></i>
    <% end %>
  </div>

  <h3 class="formHeader">Instruments</h3>
  <% if @performance_set.new_record? %>
    <%= f.fields_for :performance_set_instruments do |psi_f| %>

      <div class="field memberInfoBlock">
        <div class="field inlineField" style='padding-right: 15px; border-right: 1px solid black;'>
          <%= psi_f.label :instrument, "Instrument Name" %>
          <%= psi_f.text_field :instrument %>
        </div>

        <div class="field inlineField" style='padding-right: 15px; border-right: 1px solid black;'>
          <%= psi_f.label :limit, "Limit (0 for unlimited)" %>
          <%= psi_f.text_field :limit, size: 5 %>
        </div>

        <div class="field inlineField" style='padding-right: 15px; border-right: 1px solid black;'>
          <%= psi_f.label :available_to_opt_in, "Don't allow opt-ins on this instrument" %>
          <%= psi_f.check_box :available_to_opt_in %>
        </div>

        <div class="field inlineField">
          <%= psi_f.label :opt_in_message_id, "Which custom message should be displayed after the user presses 'submit'?" %>
          <%= psi_f.collection_select :opt_in_message_id, @opt_in_messages, :id, :title, { prompt: true } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="field memberInfoBlock">
      <% if @performance_set.performance_set_instruments.present? %>
        <i>Click on an instrument to edit or delete it.</i><br />
        <% @performance_set.performance_set_instruments.each do |psi| %>
          <br />
          <%= link_to psi.instrument, edit_performance_set_instrument_path(psi), { target: "_new" } %> ·
          <%= psi.limit.present? ? "Limit #{psi.limit}" : "" %> ·
          <%= psi.available_to_opt_in ? "Opt-In Unavailable" : "Opt-In Available" %> ·
          Message: <%= psi.opt_in_message_id ? link_to(OptInMessage.find(psi.opt_in_message_id).title, OptInMessage.find(psi.opt_in_message_id)).html_safe : "No Custom Message" %>
        <% end %>
        <br /><br />
      <% end %>
      <i><%= link_to "Add new rehearsal instrument", new_performance_set_instrument_path, { target: "_new" } %></i>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
