<p id="notice"><%= notice %></p>

<div class='pageHeader'><h2>Performance Sets</h2> &emsp; <%= link_to 'Add New Performance Set', new_performance_set_path %></div>

<table>
  <thead>
    <tr>
      <th>Ensemble</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performance_sets.each do |performance_set| %>
      <tr>
        <td><%= Ensemble.find(performance_set.ensemble_id).name %></td>
        <td><%= performance_set.start_date %></td>
        <td><%= performance_set.end_date %></td>
        <td><%= link_to 'Show', performance_set %></td>
        <td><%= link_to 'Edit', edit_performance_set_path(performance_set) %></td>
        <td><%= link_to 'Destroy', performance_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
