<% @instrument_groups = organize_members_by_instrument(@performance_set, @member_sets) %>
<div class='pageHeader'><h2>Roster for <%= @performance_set.extended_name %></h2></div>

<div class='listDescription'>

<% if @showing_all %>
  Showing All Members Interested in <%= @performance_set.extended_name %>&nbsp;&emsp;&nbsp;&middot;&nbsp;&emsp;&nbsp;
  <b><%= link_to "Show only confirmed members", roster_performance_set_path %></b>
<% else %>
  Showing Only Confirmed Playing Members in  <%= @performance_set.extended_name %>&nbsp;&emsp;&nbsp;&middot;&nbsp;&emsp;&nbsp;
  <b><%= link_to "Show All Members", roster_performance_set_path(:all => "true") %></b>
<% end %>

</div>
<br>
Total members listed in roster: <%= @instrument_groups.values.flatten.count %>

<% @instrument_groups.keys.each do |k, i| %>
  <% j = 0 %>
  <h4><%= k.capitalize.pluralize %> (<%= (@instrument_groups[k].count) %>)</h4>
  <% @instrument_groups[k].each do |ms| %>
    <% if ms %>
      <%= link_to ms.member, ms.member %> <% if @showing_all %> &emsp;&emsp;&emsp;<i style='color: gray'><%= ms.set_status %></i> <% end %> <br>
    <% end %>
  <% end %>
<% end %>
