<% @instrument_groups = organize_members_by_instrument(@member_sets) %>
<div class='pageHeader'><h2>Roster for <%= @performance_set.extended_name %></h2></div>

<div class='listDescription'>
Showing these members: <%= select_tag :member_email_statuses, options_for_select(@member_email_statuses, selected: @email_status), id: 'memberEmailStatusesRosterSelector' %>
</div>
<br>

<b><%= @instrument_groups.values.flatten.count %> Members Shown</b>

<% @instrument_groups.keys.each do |k, i| %>
  <% j = 0 %>
  <h4><%= k.capitalize.pluralize %> (<%= (@instrument_groups[k].count) %>)</h4>
  <% @instrument_groups[k].each do |ms| %>
    <% if ms %>
      <%= link_to ms.member, ms.member %> &emsp;&emsp;&emsp;<i style='color: gray'><%= ms.set_status %></i> <br>
    <% end %>
  <% end %>
<% end %>
