      <div class='pageHeader'><h2><%= link_to @performance_set.extended_name, roster_performance_set_path(@performance_set) %></h2></div>

      <br>
      <h3>Links: <%= link_to "Roster", roster_performance_set_path(@performance_set) %> &emsp;
      <%= link_to "Absences", absences_path(set: @performance_set.id) %> &emsp;
      <%= link_to "Send Email", new_email_path(performance_set_id: @performance_set.id) %></h3>

<p>
  <strong>Ensemble:</strong>
  <%= Ensemble.find(@performance_set.ensemble_id).name %>
</p>

<p>
  <strong>Set Name:</strong>
  <%= @performance_set.name %>
</p>

<p>
  <strong>Set Description:</strong>
  <%= @performance_set.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @performance_set.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @performance_set.end_date %>
</p>

<p>
  <strong>Opt-in Message:</strong>
  <%= raw @performance_set.opt_in_message %>
</p>

<p>
  <strong>Rehearsal Dates:</strong>
  <% @performance_set.performance_set_dates.each do |psd| %>
    <%= link_to psd.date, edit_performance_set_date_path(psd) %>
  <% end %>
</p>

<p>
  <strong>Instruments:</strong>
  <div class="field memberInfoBlock">
    <% @performance_set.performance_set_instruments.each do |psi| %>

        <%= link_to psi.instrument, edit_performance_set_instrument_path(psi), { target: "_new" } %> 路
        <%= psi.limit.present? ? "Limit #{psi.limit}  路 " : "" %>
        <%= psi.standby_limit > 0 ? "Standby Limit #{psi.limit}  路 " : "" %>
        <%= psi.available_to_opt_in ? "Opt-In Unavailable" : "Opt-In Available" %> 路
        Message: <%= psi.opt_in_message_id ? link_to(OptInMessage.find(psi.opt_in_message_id).title, OptInMessage.find(psi.opt_in_message_id)).html_safe : "No Custom Message" %>
        <br />
    <% end %>
    <br />
    <i><%= link_to "Add new rehearsal instrument", new_performance_set_instrument_path, { target: "_new" } %></i>
  </div>
</p>

<%= link_to 'Edit', edit_performance_set_path(@performance_set) %>
<br><br>
<%= link_to 'View All Performance Sets', performance_sets_path %>
