<p>
  <strong>Ensemble:</strong>
  <%= Ensemble.find(@performance_set.ensemble_id).name %>
</p>

<p>
  <strong>Set Name:</strong>
  <%= @performance_set.name %>
</p>

<p>
  <strong>Set Description:</strong>
  <%= @performance_set.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @performance_set.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @performance_set.end_date %>
</p>

<p>
  <strong>Opt-in Message:</strong>
  <%= raw @performance_set.opt_in_message %>
</p>

<p>
  <strong>Dates:</strong>
  <% @performance_set.performance_set_dates.each do |psd| %>
    <%= link_to psd.date, edit_performance_set_date_path(psd) %>
  <% end %>
</p>

<p>
  <strong>Instruments:</strong>
  <% @performance_set.performance_set_instruments.each do |psi| %>
    <%= link_to psi.instrument, edit_performance_set_instrument_path(psi) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_performance_set_path(@performance_set) %>
<br><br>
<%= link_to 'View All Performance Sets', performance_sets_path %>
