<%= form_for(member_note) do |f| %>
  <% if member_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_note.errors.count, "error") %> prohibited this member_note from being saved:</h2>

      <ul>
      <% member_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %>
    <%= f.text_field :member_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
