<%= form_for(action_log) do |f| %>
  <% if action_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_log.errors.count, "error") %> prohibited this action_log from being saved:</h2>

      <ul>
      <% action_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %>
    <%= f.text_field :member_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
