<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <br>

  <div class="field">
    <%= f.label :global_admin do %> 
      <%= f.check_box :global_admin %> 
      <b>Global Admin</b><br><br>
      <b class='warning'><u>WARNING:</u> ANY USER SET AS 'GLOBAL ADMIN' WILL HAVE COMPLETE USER MANAGEMENT ABILITY AND WILL BE ABLE TO DISABLE YOUR OWN ACCOUNT. USE THIS PERMISSION CAREFULLY!</b>
    <% end %>
  </div>

<br>
  <div class="field">
    <%= f.label :is_active do %>
      <%= f.check_box :is_active %>
      <b>User Active</b><br><br>
      <b class='warning'><u>WARNING:</u> ANY USER WHO IS NOT ACTIVE WILL NOT BE ABLE TO LOG INTO THE MEMBERSHIP SYSTEM</b>
    <% end %>
  </div>

<br><br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
