<%

   member_sets.reverse.map do |member_set|
     if !member_set || !member_set.member || (@performance_set && member_set.performance_set_id.to_s != @performance_set)
       next
     end

     if member_set.set_status == 'interested'
       class_name = 'interested'
     elsif member_set.set_status == 'performing' || member_set.set_status == 'rehearsing'
       class_name = 'playing'
     elsif member_set.set_status == 'stopped_by_self'
       class_name = 'not-playing-own'
     elsif member_set.set_status == 'stopped_by_us'
       class_name = 'not-playing-not-own'
     elsif member_set.set_status == 'substituting'
       class_name = 'subbing'
     elsif member_set.set_status == 'uninterested'
       class_name = 'not-interested'
     end

     if member_set.standby_player
       standby_player_class = ' standby_player'
     end
%>

  <span id='member-set-pill-<%=member_set.id%>' class="member-set-pill <%=class_name%><%= standby_player_class %>">
    <%= @performance_sets[member_set.performance_set_id].name %>
    <div class='member-set-pill-tooltip'>
      <b><%= member_set.member.first_name %> <%= member_set.member.last_name %><br></b>
      in <%= @performance_sets[member_set.performance_set_id].name %> &emsp; <i>(<%= @performance_sets[member_set.performance_set_id].start_date %> - <%= @performance_sets[member_set.performance_set_id].end_date %>)</i><br>
      has status <b><%= MemberSet.set_status_text(member_set.set_status) %></b><br>
      <% if member_set.standby_player %>
        <b>Standby Player</b>
      <% end %>
    </div>
  </span>



<% end %>
