<%

   member_sets.map do |member_set|
     if !member_set || !member_set.member || (@performance_set && member_set.performance_set_id.to_s != @performance_set)
       next
     end

     if member_set.set_status == 'Interested in playing this set'
       class_name = 'interested'
     elsif member_set.set_status == 'Playing'
       class_name = 'playing'
     elsif member_set.set_status == 'Stopped playing, due to member\'s own decision'
       class_name = 'not-playing-own'
     elsif member_set.set_status == 'Unable to play, not due to member\'s decision'
       class_name = 'not-playing-not-own'
     elsif member_set.set_status == 'Subbing'
       class_name = 'subbing'
     elsif member_set.set_status == 'Not interested in this set'
       class_name = 'not-interested'
     end

     if member_set.rotating
       rotating_class = ' rotating'
     end
%>

  <span id='member-set-pill-<%=member_set.id%>' class="member-set-pill <%=class_name%><%= rotating_class %>">
    <%= @performance_sets[member_set.performance_set_id].name %>
    <div class='member-set-pill-tooltip'>
      <b><%= member_set.member.first_name %> <%= member_set.member.last_name %><br></b>
      in <%= @performance_sets[member_set.performance_set_id].name %> &emsp; <i>(<%= @performance_sets[member_set.performance_set_id].start_date %> - <%= @performance_sets[member_set.performance_set_id].end_date %>)</i><br>
      has status <b><%= member_set.set_status %></b><br>
      <% if member_set.rotating %>
        <b>ROTATING</b>
      <% end %>
    </div>
  </span>



<% end %>
