
<% if user_signed_in? %>
  <h2>Active Sets</h2><br>
  <% PerformanceSet.now_or_future.order(start_date: :desc).each do |ps| %>
    <div class="setBlock">
      <h3><%= link_to ps.extended_name, roster_performance_set_path(ps) %></h3>
      <%= link_to "Roster", roster_performance_set_path(ps) %><br>
      <%= link_to "Absences", absences_path(set: ps.id) %><br>
      <%= link_to "Send Email", new_email_path(performance_set_id: ps.id) %><br>
      <%= link_to "Set Details", performance_set_path(ps) %>
    </div>
  <% end %><br><br>


  <b>Members</b>
  <br><br>
  <%= link_to 'Add New Member', new_member_path %><br>
  <%= link_to 'View Member List', members_path %>

  <br><br>
  <b>Absences</b>
  <br><br>
  <%= link_to 'View Absences', absences_path %><br>
  <%= link_to 'Record new Absence', new_absence_path %>

  <br><br>
  <b>Emails <sup style='color: red'>BETA</sup></b>
  <br><br>
  <%= link_to 'Send New Email', new_email_path %><br>
  <%= link_to 'View Emails', emails_path %>

  <br><br>
  <b>Performance Sets</b>
  <br><br>
  <%= link_to 'Add New Performance Set', new_performance_set_path %><br>
  <%= link_to 'View Performance Set List', performance_sets_path %>

  <br><br>
  <b>Ensembles</b>
  <br><br>
  <%= link_to 'View Ensemble List', ensembles_path %><br>
  <%= link_to 'Performance Set Rehearsal Dates', performance_set_dates_path %>

  <br><br>
  <b>Community Nights</b>
  <br><br>
  <%= link_to 'Add New Community Night', new_community_night_path %><br>
  <%= link_to 'View All Community Nights', community_nights_path %><br><br>
  <% CommunityNight.now_or_future.order(start_datetime: :desc).each do |cm| %>
      <b><%= cm.name %></b>: (<%= cm.start_datetime.strftime('%b %e %Y') %>)
      <%= link_to "Roster", roster_community_night_path(cm) %>
      <%= link_to "Details", community_night_path(cm) %><br>
  <% end %>


  <% if Permissions.special_global_admin(current_user) %>
    <br><br>
    <b>Users</b>
    <br><br>
    <%= link_to 'User List', users_path %>
    <br><br>
  <% end %>

<% else %>
  Hello! Please <%= link_to "Log In", new_user_session_path %>

<% end %>
