<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class='pageHeader'><h2>Rehearsal Dates</h2> &emsp; <%= link_to 'Add New Rehearsal Date', new_performance_set_date_path %></div>

<div class='listDescription'>
  <%= select_tag :sets, options_for_select(@performance_sets, selected: @performance_set), id: 'setSelectorPerfSetDates' %>
</div>


<table>
  <thead>
    <tr>
      <th width=250>Performance Set</th>
      <th width=125>Rehearsal Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performance_set_dates.each do |performance_set_date| %>
      <tr>
        <td><%= link_to performance_set_date.performance_set.extended_name, performance_set_date.performance_set %></td>
        <td><%= performance_set_date.date %></td>
        <td width=200><%= link_to 'View Absences for this date', performance_set_date %></td>
        <td><%= link_to 'Edit', edit_performance_set_date_path(performance_set_date) %></td>
        <td><%= link_to 'Destroy', performance_set_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

