<div class='pageHeader'><h2>Opt-in to a Performance Set</h2></div>

<div class='bigFormOverlay' id='bigFormOverlay'>
  Welcome to the opt-in page for the ensembles of SF Civic Music, including the San Francisco Civic Symphony, Mozart to Mendelssohn, Civic Strings, Summer Workshop, and Civic Pops.
  <br /><br />
  Have you played in any of our ensembles since Summer 2016?
  <br /><br />
  <a href='#' id='optInYes' class='optInAnswer'>Yes</a>
  <a href='https://members.sfcivicsymphony.org/members/signup' class='optInAnswer'>No</a>
</div>

<div class="bigForm clearOut">
<%= form_for(@member_set) do |f| %>
  <% if @member_set.errors.any? %>
    <div id="error_explanation">
      <h2>This opt-in could not be recorded:</h2>

      <ul>
      <% @member_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless current_user %>
    <i>Please use this form to opt-in to an upcoming set.</i>
  <% end %>

  <div class="field">
    <%= f.fields_for :members do |member_f| %>
      <%= member_f.label :email_1, "Your Email Address" %>
      <%= member_f.text_field :email_1 %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :performance_set_id, "Which group and set are you playing with?" %>
    <%= f.collection_select :performance_set_id, @performance_sets, :id, :extended_name, { prompt: true } %>
  </div>

  <div class="field">
    <label id='member_set_new_performance_set_instrument_id_label'>What instrument are you planning to play?</label>
    <select name='member_set[new_performance_set_instrument_id]' id='member_set[new_performance_set_instrument_id]' disabled><option>Please Select</option></select>
  </div>

  <input type='hidden' id='member_set_id'></input>

  <% @performance_sets.each do |ps| %>
    <div class='performance_set_opt_in_message' id='performance_set_opt_in_message_<%=ps.id%>'>
      <h3><%= ps.extended_name %></h3>
      Rehearsals for this set are on <%= ps.performance_set_dates.map(&:date).map{|d| d.strftime("%B %e") }.join(", ") %>.
      <br><br>
      <%= raw ps.opt_in_message %>
      <br><br>
      By opting into this set, you are agreeing to abide by our <b><a href="https://sfcivicmusic.org/code-of-conduct/">Code of Conduct</a></b> for all musicians.
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Opt into set", class: 'button', id: 'opt_in_button', disabled: true %>
  </div>
<% end %>
</div>

<i class='form-disclaimer'>If you have any questions or issues with this form,
  please contact membership@sfcivicsymphony.org</i>