<%= form_for(absence) do |f| %>
  <% if absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% absence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.label :email %>
    <%# f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :performance_set_id %>
    <%= f.collection_select :performance_set_id, @performance_sets, :id, :name, { prompt: true } %>
  </div>

  <div class="field">
    <%= f.label :performance_set_date_id %>
    <%= f.collection_select :performance_set_date_id, @performance_set_dates, :id, :date, { prompt: true } %>
  </div>

  <div class="field">
    <%= f.label :planned %>
    <%= f.check_box :planned %>
  </div>

  <div class="field">
    <%= f.label :sub_found %>
    <%= f.text_field :sub_found %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
