<%= form_for(absence) do |f| %>
  <% if absence.errors.any? %>
    <div id="error_explanation">
      <h2>This absence could not be recorded:</h2>

      <ul>
      <% absence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless current_user %>
    <i>This form replaces the missing@sfcivicsymphony.org email address.<br>
      Please use it to record all reheasal absences.</i>
  <% end %>

  <div class="field">
    <%= f.fields_for :members do |member_f| %>
      <%= member_f.label :email_1, "Your Email Address" %>
      <%= member_f.text_field :email_1 %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :performance_set_dates do |performance_set_date_f| %>
      <%= performance_set_date_f.label :performance_set_id, "Which group and set are you playing with?" %>
      <%= performance_set_date_f.collection_select :performance_set_id, @performance_sets, :id, :extended_name, { prompt: true } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :performance_set_date_id, "Which rehearsal are you missing?" %>
    <%= f.collection_select :performance_set_date_id, [], :id, :date, { prompt: true }, { disabled: true, id: 'absenceRehearsalDateSelector' } %>
  </div>

  <% if current_user %>
    <div class="field">
  <% else %>
    <div class="field hidden">
  <% end %>
      <%= f.label :planned, "Excused?" %>
      <%= f.check_box :planned, {checked: true} %>
    </div>
  <% if current_user %>
    <div class="field">
      <%= f.label :sub_found %>
      <%= f.text_field :sub_found %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit Form", class: 'button' %>
  </div>
<% end %>
