<div class='pageHeader'><h2>Absences</h2> &emsp; <%= link_to 'New Absence', new_absence_path, class: 'button' %></div>

<div class='listDescription'>
  <%= select_tag :sets, options_for_select(@performance_sets, selected: @performance_set), id: 'setSelectorAbsence' %>
</div>

<% if @performance_set %>
  <table cellspacing=0 cellpadding=0 id='absences'>
    <thead>
      <tr>
        <th>Member</th>
        <th>Instrument</th>
        <% @set_rehearsal_dates.each do |rehearsal_date| %>
          <th><%= rehearsal_date.date %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member, member %></td>
          <td><%= @member_sets.where('member_id = ?', member.id).first.set_member_instruments.first.member_instrument.instrument %>
          <% @set_rehearsal_dates.each do |rehearsal_date| %>
            <% this_absence = @absences.keep_if { |a| a.member == member && a.performance_set_date_id == rehearsal_date.id } %>
            <th><%= this_absence.present? ? absence_text(this_absence.first) : "" %></th>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <i>Please select a performance set to continue</i>
<% end %>
<br>

