<div class='pageHeader'><i><%= link_to '< Back to All Absences', absences_path(set: @performance_set_date.performance_set.id) %></i><br><br>
<h2>Take Attendance Absences</h2></div>

<% if @performance_set_date %>
  <form method='POST' action='<%= batch_create_absences_path(set_rehearsal_date: @performance_set_date.id) %>'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table cellspacing=0 cellpadding=0 id='absences'>
      <thead>
        <tr>
          <th>Member</th>
          <th>Instrument</th>
          <th><%= @performance_set_date.date %></th>
        </tr>
      </thead>

      <tbody>

        <% @member_sets.where('member_id != 0').sort_by{ |ms| ms.set_member_instruments.first.instrument_name_with_variant}.each do |member_set| %>
          <tr>
            <td><%= link_to member_set.member, member_set.member %></td>
            <td><%= @member_sets.where('member_id = ?', member_set.member_id).first.set_member_instruments.first.instrument_name_with_variant%>
            <% this_absence = @absences.select { |a| a.member && a.member.id == member_set.member.id && a.performance_set_date_id == @performance_set_date.id } %>
            <% if can_view_member_personal_info(member_set.member) %>
              <td>
                Absence? <input type='checkbox' name='absence_<%= member_set.member_id %>_absence' <%= this_absence.present? ? "checked" : "" %>><br>
                Reported? <input type='checkbox' name='absence_<%= member_set.member_id %>_reported'  <%= this_absence.present? && this_absence.first.planned ? "checked" : "" %>><br>
                Sub <input type='text' name='absence_<%= member_set.member_id %>_sub' value='<%= this_absence.present? ? this_absence.first.sub_found : "" %>'>
                <input type='hidden' name='absence_<%= member_set.member_id %>'>
              </td>
            <% else %>
              <td><%= this_absence.present? ? absence_text(this_absence.first) : "No Reported Absence" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <input class='button' type='submit' value='Submit Attendance Details'>
  </form>
<% else %>
  <i>Please select a performance set to continue</i>
<% end %>
<br>

