<p>
  <strong>Member:</strong>
  <%= @absence.member %>
</p>

<p>
  <strong>Performance Set:</strong>
  <%= @absence.performance_set %>
</p>

<p>
  <strong>Date:</strong>
  <%= @absence.date %>
</p>

<p>
  <strong>Planned:</strong>
  <%= @absence.planned %>
</p>

<p>
  <strong>Sub found:</strong>
  <%= @absence.sub_found %>
</p>

<%= link_to 'Edit', edit_absence_path(@absence) %> |
<%= link_to 'Back', absences_path %>
