<%= form_for(ensemble) do |f| %>
  <% if ensemble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this ensemble from being saved:</h2>

      <ul>
      <% ensemble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, size: 80 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
