<%= form_for(email) do |f| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <h3 class="formHeader">(1) Email Recipients</h3>

  <div class="field memberInfoBlock">
    <b>Select the members you would like to email by Performance Set, Status, and optionally Instrument.</b>

    <div class="field emailFilter" id="emailForm">
      <%= f.label :performance_set_id, "Performance Set OR Entire Ensemble" %>
      <% if action_name == 'new' %>
        <%= f.collection_select :performance_set_id, @performance_sets, :id, :extended_name, { prompt: "Select a Single Performance Set", selected: @performance_set_id }, { id: 'member_set_performance_set_id' } %>
        <%= f.collection_select :ensemble_id, @ensembles, :id, :name, { prompt: "Select an Ensemble", selected: @ensemble_id }, { id: 'member_set_ensemble_id' } %>
        <i id='email_selected_note' style='display: none; font-weight: bold;'><br>Selecting an ensemble will email all members who have played in that ensemble in the last year</i>
      <% else %>
        <%= f.collection_select :performance_set_id, @performance_sets, :id, :extended_name, { prompt: "Select a Single Performance Set" }, { id: 'member_set_performance_set_id' } %>
        <%= f.collection_select :ensemble_id, @ensembles, :id, :name, { prompt: "Select an Ensemble" }, { id: 'member_set_ensemble_id' } %>
        <i id='email_selected_note' style='display: none; font-weight: bold;'><br>Selecting an ensemble will email all members who have played in that ensemble in the last year</i>
      <% end %>
    </div>

    <hr />
    <div class="field emailFilter" id='status_perf_set'>
      <%= f.label :status, "Status" %>
      <%= f.select :status, @statuses_for_email, { prompt: true }, { id: 'emailMemberStatusSelector' } %>
    </div>

    <div class="field emailFilter" id="status_ensemble" style="display: none;">
      <i>This email will be sent to members with <b>any status</b> – Interested, Performing, Stopped, Substituting, Uninterested</i>
    </div>

    <hr />

    <% if action_name != 'new' %>
      <script>
        var next = function() {
          var instrumentAr = JSON.parse('<%= JSON.parse(@email.instruments).compact.reject!(&:empty?).to_s.html_safe %>');
          for(var i = 0; i < instrumentAr.length; i++) {
            $('#emailMemberInstrumentSelector option[value=' + instrumentAr[i] + ']').attr('selected', true);
          }
          $('#emailMemberInstrumentSelector').trigger('chosen:updated');
          updateEmailRecipients();
        }
        $(document).on('ready', function() {
          setInstrumentsForSelection('#emailMemberInstrumentSelector', next, true);
          <% if @email.ensemble %>
            ensembleIdSelected();
          <% elsif @email.performance_set %>
            performanceSetIdSelected();
          <% end %>
        });
      </script>
    <% end %>
    <% if params[:performance_set_id].to_i > 0 %>
      <script>
        var next = function() {
          $('#emailMemberInstrumentSelector').trigger('chosen:updated');
          updateEmailRecipients();
        }
        $(document).on('ready', function() {
          setInstrumentsForSelection('#emailMemberInstrumentSelector', next, true);
        });
      </script>
    <% end %>
    <div class="field emailFilter <<% if action_name == 'new' %>>startHidden<% end %>" id="instruments_perf_set">
      <%= f.label :instruments, "Instrument (optional)" %>
      <%= f.collection_select :instruments, @instruments, :id, :instrument, { prompt: true }, { id: 'emailMemberInstrumentSelector', multiple: true } %>
    </div>
    <div class="field emailFilter" id="instruments_ensemble" style="display: none;">
      <i>This email will be sent to all instruments.</i>
    </div>
  </div>

  <br><h3 class="formHeader">(2) Verify These Members Will Be Emailed</h3>

  <div class="field memberInfoBlock">
    <div id="roster">
      <% if action_name == 'edit' %>
        <i>List can't be generated yet! Please re-select a performance set, status, and instruments to save.</i>
      <% else %>
        <i>List can't be generated yet! Please select a performance set and status.</i>
      <% end %>
    </div>
  </div>

<br>
  <h3 class="formHeader">(3) Email Title and Body</h3>
  <div class="field memberInfoBlock">
    <div class="field">
      <b><%= f.label :email_title %></b>
      <%= f.text_field :email_title %>
    </div>

    <div class="field">
      <b><%= f.label :email_body %></b>
      <%= f.text_area :email_body, cols: 100, rows: 15 %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <% if (current_user.id == 1 && Rails.env == "production") || (current_user.id == 2 && Rails.env == "development") %>
    <br><h3 class="formHeader">OPTIONAL: (3.5) Sending on behalf of someone?</h3>
    <div class="field memberInfoBlock">
      <div class="field">
        <b><%= f.label :behalf_of_name, "Name" %></b>
        <%= f.text_field :behalf_of_name %>
      </div>
      <div class="field">
        <b><%= f.label :behalf_of_email, "Email Address" %></b>
        <%= f.text_field :behalf_of_email %>
      </div>
    </div>
  <% end %>
<br>
  <h3 class="formHeader">(4) Save and Preview Email</h3>
  <div class="field memberInfoBlock">
    <div class="actions">
      <%= f.submit "Save and Preview Email", { disabled: true, id: 'email_preview_submit_button' } %>
    </div>
  </div>
<% end %>
<br>
