<%= form_for(email) do |f| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <h3 class="formHeader">(1) Email Recipients</h3>

  <div class="field memberInfoBlock" id='emailFilter'>

    <div>
      <b>Which members do you want to email?</b><br>
      <select id='email_type_selector'>
        <option value="-1" selected></option>
        <option value=0>Members Currently Playing in a Performance Set</option>
        <option value=1>All Members Playing in an Ensemble in the Last Twelve Months</option>
        <% if current_user.global_admin? %><option value=2>All Members Participating in the Last Twelve Months</option><% end %>
      </select>
    </div>

    <div id="email_for_step_two_all" style="display: none;">
      <br>
      <b>This will email all members who have played in any of our ensembles in the last twelve months</b>
    </div>

    <div id="email_for_step_two_ensembles" style="display: none;">
      <br>
      <b>Which ensemble do you want to email?</b><br>
      <%= f.collection_select :ensemble_id, @ensembles, :id, :name, { prompt: "Select an Ensemble", selected: @email.ensemble_id }, { id: 'member_set_ensemble_id' } %>
      <i id='email_selected_note'><br>Selecting an ensemble will email all members who have played in that ensemble in the last year</i>
    </div>
    <div id="email_for_step_two_perf_sets" style="display: none;">
      <br>
      <b>Which performance set do you want to email?</b><br>
      <%= f.collection_select :performance_set_id, @performance_sets, :id, :extended_name, { prompt: "Select a Current Performance Set", selected: @email.performance_set_id }, { id: 'member_set_performance_set_id' } %>
      <i id='email_selected_note_perf_set'><br>Selecting a performance set will email members who are currently on the roster for this performance set.</i>
    </div>

    <div id="email_for_step_three" style="display: none;">
      <br>
      <b>Which members would you like to email, based on playing status?</b><br>
      <%= f.select :status, @statuses_for_email, { prompt: "Select a playing status" }, { id: 'emailMemberStatusSelector' } %>
    </div>

    <div id="email_for_step_four" style="display: none;">
      <br>
      <b>Which instruments would you like to email – leave blank for "all"?</b><br>
      <%= f.collection_select :instruments, @instruments, :id, :instrument, { prompt: true }, { id: 'emailMemberInstrumentSelector', multiple: true } %>
      <i id='email_selected_note_perf_set'><br>Leave this blank to email members playing all instruments.</i>
    </div>

    <% if action_name != 'new' %>
      <script>
        var emailType = <%= @email.performance_set ? 0 : @email.ensemble ? 1 : 2 %>;
        var next = function() {
          var instrumentAr = JSON.parse('<%= JSON.parse(@email.instruments).compact.reject!(&:empty?).to_s.html_safe %>');
          for(var i = 0; i < instrumentAr.length; i++) {
            $('#emailMemberInstrumentSelector option[value=\'' + instrumentAr[i] + '\']').attr('selected', true);
          }
          $('#emailMemberInstrumentSelector').trigger('chosen:updated');
          updateEmailRecipients();
        }
        $(document).on('ready', function() {
          window.auto_loading = true;
          $('#email_type_selector').val(emailType).change();
          $('#member_set_performance_set_id').change();
          $('#member_set_ensemble_id').change();
          $('#emailMemberStatusSelector').change();
          setInstrumentsForSelection('#emailMemberInstrumentSelector', next, true);
          window.auto_loading = false;
        });
      </script>
    <% end %>
  </div>

  <br><h3 class="formHeader">(2) Verify These Members Will Be Emailed</h3>

  <div class="field memberInfoBlock">
    <div id="roster">
      <i>List can't be generated yet! Please fill out "Email Recipient" fields above.</i>
    </div>
  </div>

<br>
  <h3 class="formHeader">(3) Email Title and Body</h3>
  <div class="field memberInfoBlock">
    <div class="field">
      <b><%= f.label :email_title %></b>
      <%= f.text_field :email_title %>
    </div>

    <div class="field">
      <b><%= f.label :email_body %></b>
      <%= f.text_area :email_body, cols: 100, rows: 15 %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <% if (current_user.id == 1 && Rails.env == "production") || (current_user.id == 2 && Rails.env == "development") %>
    <br><h3 class="formHeader">OPTIONAL: (3.5) Sending on behalf of someone?</h3>
    <div class="field memberInfoBlock">
      <div class="field">
        <b><%= f.label :behalf_of_name, "Name" %></b>
        <%= f.text_field :behalf_of_name %>
      </div>
      <div class="field">
        <b><%= f.label :behalf_of_email, "Email Address" %></b>
        <%= f.text_field :behalf_of_email %>
      </div>
    </div>
  <% end %>
<br>
  <h3 class="formHeader">(4) Save Draft</h3>
  <div class="field memberInfoBlock">
    <div class="actions">
      <%= f.submit "Save Draft Email", { disabled: true, id: 'email_preview_submit_button' } %>
    </div>
  </div>
<% end %>
<br>
