<%= form_for(email) do |f| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_title %>
    <%= f.text_field :email_title %>
  </div>

  <div class="field">
    <%= f.label :email_body %>
    <%= f.text_area :email_body, cols: 100, rows: 15 %>
  </div>

  <h3>Email Recipients:</h3>

  <b>Emailing Members of a Performance Set</b>

  <div class="field emailFilter" id="emailForm">
    <%= f.label :performance_set_id, "Performance Set" %>
    <%= f.collection_select :performance_set_id, @performance_sets, :id, :extended_name, { prompt: true }, { id: 'member_set_performance_set_id' } %>
  </div>

  <div class="field emailFilter">
    <%= f.label :status, "Status" %>
    <%= f.select :status, @statuses_for_email, { prompt: true }, { id: 'emailMemberStatusSelector' } %>
  </div>

  <div class="field emailFilter startHidden">
    <%= f.label :instruments, "Instrument (optional)" %>
    <%= f.collection_select :instruments, @instruments, :id, :instrument, { prompt: true }, { id: 'emailMemberInstrumentSelector', multiple: true } %>
  </div>

  <h3>These Members Will Be Emailed</h3>
  <div id="roster">
    <i>Please select a performance set and status.</i>
  </div>

  <div class="actions">
    <%= f.submit "Preview Email", { disabled: true } %>
  </div>
<% end %>
