<div class='pageHeader'><h2>EMAIL: <%= @email.email_title %></h2>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<% if @email.sent_at != nil %>SENT <%= @email.sent_at %><%else%>UNSENT &emsp; <%= link_to 'Edit Email', edit_email_path(@email), class: 'button' %><% end %></div>
<br>

<% if @email.sent_at.nil? %><h3 class='alert' style='padding: 10px;'>This email has not yet been sent! You can send using the button at the bottom of this page.</h3><% end %>

<br><h3 class="formHeader">Email Title and Body</h3>
<div class="field memberInfoBlock">
  <b>Email Title</b><br>
  <%= @email.email_title %>
  <br><br>
  <b>Email Body</b><br>
  <div class='emailContainer'>
    <%= simple_format(@email.email_body) %>
  </div>
</div>

<br>
<h3 class="formHeader">Who are we sending this email to?</h3>
<div class="field memberInfoBlock">
  <% if @email.performance_set %>
    <b>Performance Set:</b> <%= @email.performance_set.extended_name %>
    <br><br>
    <b>Statuses:</b> <%= Email.statuses_for_emails[@email.status.to_i] %>
    <br><br>
    <b>Instruments:</b> <%= @instruments.present? ? @instruments.join(',') : 'All' %>
    <br><br>
  <% else %>
    <b>Ensemble:</b> <%= @email.ensemble.name %>
    <br><br>
    <b>Statuses:</b> All
    <br><br>
    <b>Instruments:</b> All
    <br><br>
    <i>All members who have played in this ensemble in the last year</i>
  <% end %>
</div>

<% if @email.behalf_of_name.present? && @email.behalf_of_email.present? %>
  <h3>Sent on behalf of</h3>
  <div class="field memberInfoBlock">
    <b>Name:</b> <%= @email.behalf_of_name %>
    <br><br>
    <b>Email:</b> <%= @email.behalf_of_email %>
  </div>
<% end %>

<% recipients = [] %>
<% if @email.sent_at.nil? %>
  <br><h3 class="formHeader">Specific Recipients of This Email (<%= @instrument_groups.values.flatten.map(&:member).map(&:id).uniq.count %>)</h3>
  <div class="field memberInfoBlock">
    <i>Members may appear below on multiple instruments; they will only get 1 email</i>
    <% @instrument_groups.keys.sort.each do |k, i| %>
      <% j = 0 %>
      <h4><%= k.capitalize.pluralize %> (<%= (@instrument_groups[k].map(&:member).map(&:id).uniq.count) %>)</h4>
      <% member_ids_on_inst = [] %>
      <% @instrument_groups[k].each do |ms| %>
        <% if ms && !member_ids_on_inst.include?(ms.member.id) %>
          <%= link_to ms.member, ms.member %>,
          <% recipients << ms.member.id %>
        <% end %>
        <% member_ids_on_inst.push(ms.member.id) %>
      <% end %>
    <% end %>
  </div>
  <br><br>
  <%= link_to 'Confirm and Send Email', send_email_email_url(member_ids: recipients.join(",")), class: 'button' %>
<% else %>
  <br><h3 class="formHeader">Specific Recipients</h3>
  <div class="field memberInfoBlock">
    Sent to <%= EmailLog.where(email_id: @email.id).count %> members
    <br><br>
    <% EmailLog.where(email_id: @email.id).each do |el| %>
      <%= link_to el.member, el.member %>,
    <% end %>
  </div>

<% end %>


<br><br>
<%= link_to 'Return to All Emails', emails_path %>
