<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="top-anonymous">
    <div class="logo-anonymous">
      <%= image_tag "SFCMA_Mark_White.png", height: 100 %>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value.to_s.html_safe %>
          </li>
        </ul>
      </div>
    <% end %>
    <div class='body-anonymous'>
      <%= yield %>
    </div>
  </body>
</html>
