<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <%= csrf_meta_tags %>

    <script
      src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
      data-apikey="8c77d55aa58868c382d1c16c35c6a652"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <h1><%= image_tag "SFCMA_Mark_White.png", height: 60 %> <i>Membership Management System</i></h1>
    <div class='bar'>
      <% if user_signed_in? %>
        <div class='loginInfo'>
          Logged in as <%= current_user.email %> &emsp; &middot; &emsp;
          <%= link_to "Change Password", edit_user_registration_path %> &emsp; &middot; &emsp;
          <b><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></b>
        </div>
      <% end %>
      <b><%= link_to 'Home Page', root_path %></b> &emsp; &middot; &emsp;
      <% if user_signed_in? %>
        <b><%= link_to 'Membership Roster', members_path %></b> &emsp; &middot; &emsp;
        <b><%= link_to 'Waivers', waivers_members_path %></b>

      <% else %>
        Not logged in. <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
    <div class='body'>
      <%= yield %>
    </div>
  </body>
</html>
