<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Civic Symphony Association of SF Membership Management System', root_path %></h1>
    <div class='bar'>
      <%= link_to 'Home Page', root_path %> &middot;
      <% if user_signed_in? %>
        Logged in as <%= current_user.email %> &middot;
        <%= link_to "Change Password", edit_user_registration_path %> &middot;
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
      <% else %>
        Not logged in. <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
    <div class='body'>
      <%= yield %>
    </div>
  </body>
</html>
