<%= stylesheet_link_tag    '//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css', media: 'all' %>
<%= javascript_include_tag '//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js' %>
<script>
$(document).ready(function() {
    $('#members').DataTable();
} );
</script>

<div class='pageHeader'><h2>Members</h2> &emsp; <%= link_to 'Add New Member', new_member_path, class: 'button' %> &emsp; <%= select_tag "instrument_filter", options_for_select(@instruments) %></div>

<table id="members">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instrument</th>
      <th>Set</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <% inst_list = member.member_instruments.map(&:instrument) %>
      <% inst_stuff = inst_list.map { |il| link_to(il, members_url(:instrument=>il)) }.join(" ") %>
      <tr>
        <td><%= link_to "#{member.first_name} #{member.last_name}", member %></td>
        <td><%= inst_stuff.html_safe %></td>
        <td><%= member.member_sets.map(&:performance_set).map(&:name).join(", ") %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
