<div class='pageHeader'><i><%= link_to '< Back to All Members', members_path %></i><br><br><h2><%= @member.first_name + " " + @member.last_name %></h2>&emsp;&emsp;<%= link_to 'Edit Member', edit_member_path(@member), class: 'buttonlike' %></div>

<p>
  <b>Address:</b><br>
  <% if @member.address_1.present? &&
        @member.city.present? &&
        @member.state.present? &&
        @member.zip.present? %>

    <%= @member.address_1 %><br>
    <%= @member.address_2 %><br>
    <%= @member.city.strip %>, <%= @member.state %> <%= @member.zip %>
  <% else %>
    No Valid Address Available
  <% end %>
</p>

<p>
  <strong>Phone:</strong><br>
  <% if @member.phone_1.present? || @member.phone_2.present? %>
    <% if @member.phone_1.present? %>
      <%= @member.phone_1 %> (<%= @member.phone_1_type %>)<br>
    <% end %>
    <% if @member.phone_2.present? %>
      <%= @member.phone_2 %> (<%= @member.phone_2_type %>)
    <% end %>
  <% else %>
    No Phone Numbers Available
  <% end %>
</p>

<p>
  <strong>Email:</strong><br>
  <% if @member.email_1.present? || @member.email_2.present? %>
    <%= @member.email_1 %><br>
    <%= @member.email_2 %>
  <% else %>
    No Email Addresses Available
  <% end %>
</p>

<p>
  <strong>Emergency Contact:</strong><br>
  <% if @member.emergency_name.present? && @member.emergency_phone.present? %>
    <%= @member.emergency_name %>
    <% if @member.emergency_relation.present? %>
      (<%= @member.emergency_relation %>)
    <% end %>
    <%= @member.emergency_phone %>
  <% else %>
    No Emergency Contact Available
  <% end %>
</p>

<p>
  <strong>Playing status:</strong>
  <%= @member.playing_status %>
</p>
